body {
    background: #eee;
    
}
.global-header {
    max-width: 1300px;
    background: #fff;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 17px;
    border-top: 10px solid #B32424; 
}

.nav-menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    position: relative;
}

.main-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

}

.menu-item a {
    color: #333;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Arial;
    padding: 10px 10px;
    display: inline-flex;
    font-weight: 500;
    white-space: nowrap;
    align-items: center;
}

.menu-item {
    position: relative;
    padding: 0 10px;;
}

.menu-item:hover .sub-menu{
    display: block;
}

.menu-item.has-arrow > a:after{
    content: '';
    display: inline-block;
    box-sizing: border-box;
    height: 5px;
    width: 5px;
    border-style: solid;
    border-color: #333;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    margin-left: 5px;
    margin-top: -3px;
}


.line-next-logo::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 70px;
    background-color: #B32424;
    margin-right: 10px; 
}

.sub-menu {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    display: none;
    min-width: 200px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
.sub-menu li a {
    color: #333;
    padding: 8px 20px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    
}
.menu-item a:hover {
    background-color: #f1f1f1;
    color: #B32424;
    font-weight: 100;
}
.sub-menu li a:hover {
    background-color: #ca2e2e; 
    color: #fff; 
    font-weight: 100;
}

.hamburger-menu {
    background: none;
    border: 0;
    padding: 0;
    display: none;
}

.hamburger-menu svg {
    fill: #333333;
    color: #333333;
}

.show-menu.main-menu {
    display: block;
    position: absolute;
    top: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    background: #fff;
}

@media only screen and (max-width: 900px) {
    .hamburger-menu {
        display: inline-block;
    }
    .main-menu {
        display: none;
    }
}